@page "/"
@using BecauseImClever.Application.Interfaces
@using BecauseImClever.Domain.Entities
@inject IBlogService BlogService
@inject IAnnouncementService AnnouncementService

<PageTitle>Home</PageTitle>

<FluentStack Orientation="Orientation.Vertical" VerticalGap="20">
    <FluentCard>
        <h1>Welcome to Because I'm Clever</h1>
        <p>A blog about .NET, software architecture, and other clever things.</p>
    </FluentCard>

    <FluentGrid Spacing="3" Justify="JustifyContent.FlexStart">
        <FluentGridItem xs="12" sm="8">
            <h2>Recent Posts</h2>
            @if (posts == null)
            {
                <FluentProgressRing />
            }
            else if (!posts.Any())
            {
                <p>No posts found.</p>
            }
            else
            {
                <FluentStack Orientation="Orientation.Vertical" VerticalGap="10">
                    @foreach (var post in posts)
                    {
                        <FluentCard>
                            <h3><FluentAnchor Href="@($"/posts/{post.Slug}")">@post.Title</FluentAnchor></h3>
                            <p>@post.PublishedDate.ToString("MMMM dd, yyyy")</p>
                            <p>@post.Summary</p>
                        </FluentCard>
                    }
                </FluentStack>
            }
        </FluentGridItem>
        <FluentGridItem xs="12" sm="4">
            <h2>Announcements</h2>
            @if (announcements == null)
            {
                <FluentProgressRing />
            }
            else
            {
                <FluentStack Orientation="Orientation.Vertical" VerticalGap="10">
                    @foreach (var announcement in announcements)
                    {
                        <FluentCard>
                            <p><strong>@announcement.Date.ToString("MM/dd")</strong>: @announcement.Message</p>
                            @if (!string.IsNullOrEmpty(announcement.Link))
                            {
                                <FluentAnchor Href="@announcement.Link">Read more</FluentAnchor>
                            }
                        </FluentCard>
                    }
                </FluentStack>
            }
        </FluentGridItem>
    </FluentGrid>
</FluentStack>

@code {
    private IEnumerable<BlogPost>? posts;
    private IEnumerable<Announcement>? announcements;

    protected override async Task OnInitializedAsync()
    {
        posts = await BlogService.GetPostsAsync();
        announcements = await AnnouncementService.GetLatestAnnouncementsAsync();
    }
}
