@page "/weather"
@inject HttpClient Http

<PageTitle>Weather</PageTitle>

<h1>Weather</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (forecasts == null)
{
    <FluentProgressRing />
}
else
{
    <FluentDataGrid Items="@forecasts.AsQueryable()">
        <PropertyColumn Property="@(p => p.Date)" Format="yyyy-MM-dd" Sortable="true" />
        <PropertyColumn Property="@(p => p.TemperatureC)" Title="Temp. (C)" Sortable="true" />
        <PropertyColumn Property="@(p => p.TemperatureF)" Title="Temp. (F)" Sortable="true" />
        <PropertyColumn Property="@(p => p.Summary)" Sortable="true" />
    </FluentDataGrid>
}

@code {
    private WeatherForecast[]? forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("sample-data/weather.json");
    }

    public class WeatherForecast
    {
        public DateOnly Date { get; set; }

        public int TemperatureC { get; set; }

        public string? Summary { get; set; }

        public int TemperatureF => 32 + (int)(TemperatureC / 0.5556);
    }
}
